@media only screen and (max-width: 1024px) {
  .main-wrapper {
    width: 100%;
    height: 100%;
  }

  #flag{
    width:24px;
    height:16px;
  }

  .ui-left {
    transform: translateX(0%);
  }

  .users .user{
    height:60px;
  }

  .users .user span{
    width:40px;
    height:40px;
  }

  .rooms .room{
    height:60px;
  }

  .rooms .room span{
    width:40px;
    height:40px;
  }

  .user_details {
    width: 180px;
    height: 225px;
  }

  .pmvideo_enlarge {
    display: block;
  }

  .chat-msg,.y-chat-msg{
    padding-top: 20px;
    font-size: 14px;
  }

  .y-profile,.profile{
    min-width:45px;
    height:45px;
  }

  .chat-name,.y-chat-name{
    font-size: 13px;
  }

  .chat-time,.y-chat-time{
    font-size: 10px;
  }

  .menu li a{
    font-size: 32%;
  }
}

@media only screen and (max-width: 825px) {
  .main-wrapper {
    display: block;
    position: relative;
  }

  #search div{
    position: absolute;
    top:8px;
    left:10px;
    font-size: 16px;
    width:35px;
    height:35px;
  }

  #search_any{
    width:100%;
    height:100%;
    font-size: 20px;
    padding-left:50px;
  }

  #set_display{
    transition: all 0.4s ease-in;
  }

  #edit_profile{
    transition: all 0.4s ease-in;
  }

  .users .user{
    height:55px;
  }

  .users .user span{
    width:35px;
    height:35px;
  }

  .users .user p{
    font-size: 20px;
  }

  .rooms .room{
    height:55px;
  }

  .rooms .room span{
    width:35px;
    height:35px;
  }

  .rooms .room p{
    font-size: 20px;
  }

  .chat-msg,.y-chat-msg{
    font-size: 13px;
  }

  .chat-name,.y-chat-name{
    font-size: 12px;
  }

  .chat-time,.y-chat-time{
    font-size: 10px;
  }

  .y-profile,.profile{
    min-width:40px;
    height:40px;
  }

  .ui-left {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: #5865f2;
    overflow: hidden;
    transform: translateX(0%);
    z-index: 50;
    transition: all 0.5s ease-in-out;
  }

  .ui-right {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  aside {
    width: 40%;
    transition: all 0.5s cubic-bezier(1,0,0,.98);
  }

  .main-li span {
    right: 40px;
  }

  .type_msg {
    border-radius: 15px;
  }

  #enter {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .user_details {
    left: 180px;
  }

  .ud_head {
    height: 60%;
  }

  .ud_body {
    height: 40%;
  }
}

@media only screen and (max-width: 525px) {
  .ui-left {
    width: 70%;
    z-index: 50;
  }

  .admin_action {
    width: 90%;
  }

  .options span i{
    font-size: 16px;
  }

  .pmvideo_enlarge {
    display: none;
  }

  #flag{
    width:18px;
    height:12px;
  }

  .fa-crown{
    font-size: 16px;
  }

  .fa-user-shield{
    font-size: 16px;
  }

  #search{
    height:40px;
  }

  #search div{
    position: absolute;
    top:6px;
    left:10px;
    font-size: 13px;
    width:25px;
    height:25px;
  }

  #search_any{
    font-size: 16px;
    padding-left:45px;
  }

  .users .user{
    height:45px;
  }

  .users .user span{
    width:25px;
    height:25px;
  }

  .users .user p{
    font-size: 16px;
  }

  .Room_settings{
    width:90%;
  }

  .inbox {
    width: 90%;
  }

  aside {
    width: 60%;
  }

  .main-li span {
    right: 20px;
  }

  .notification {
    width: 90%;
  }

  .create_room {
    width: 90%;
  }

  .enter_roompass {
    width: 90%;
  }

  .profile_div {
    width: 90%;
  }

  .pmvideo_wrapper {
    display: block;
  }

  .incoming_pmcall {
    width: 280px;
    height: 350px;
  }

  .user_details {
    left: 120px;
    width: 160px;
    height: 200px;
  }

  .pm_video_div{
    position: absolute;
    top:0%;
    right:0%;
    width:100%;
    height:100%;
    background-color: black;
    z-index: 41;
    display: none;
    box-shadow: 0px 0px 3px black;
}

  #pmvideoElement1 {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 90px;
    margin: 0px;
    border-radius: 0px;
    z-index: 43;
  }

  #pmvideoElement2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0px;
    z-index: 42;
  }

  .pmvideo_control button {
    width: 35px;
    height: 35px;
    font-size: 15px;
    z-index: 53;
  }

  .room_name {
    font-size: 33%;
  }

  #file {
    font-size: 20px;
  }

  #emojis {
    font-size: 20px;
  }

  .type_msg {
    height: 30px;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 5%;
  }

  #enter {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  aside ul {
    position: relative;
    right: 0px;
  }
}
